*{
    box-sizing: border-box;
}
:root{
    --font-heading: 'Sen', sans-serif;
    --primary-color: #ffb900;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
.heading-lv2{
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
}
.btn{
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    background-color: #171100;
    border-radius: 999px;
    line-height: 50px;
    text-align: center;
}
.btn:hover{
    opacity: 0.9;
}
.btn-sign-up{
    min-width: 144px;
}
.header{
    background-color: #fffcf4;
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2{
    --line-clamp: 2;
}
.break-all{
    word-break: break-all;
}
.header.fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav ul{
    display: flex;
}
.nav{
    margin-left: auto;
}
.nav a{
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 28px;
    padding: 8px 21px;
    position: relative;
}
.nav li.active a,.nav a:hover{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after{
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
    display: block;
    position: absolute;
    left: 21px;
    bottom: 6px;
}
.header .action{
    margin-left: 49px;
}
/* Hero */
.hero{
    padding: 56px 0 65px;
    background-color: #fffcf4;
}
.hero .body{
    display: flex;
}
.hero .media-block{
    position: relative;
    width: 48%;
}

.hero .media-block .img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero .hero-summary{
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 24px;
}
.hero .item{
    display: flex;
    align-items: center;
}
.hero-summary .item + .item{
    margin-top: 22px;
}
.hero-summary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
}
.icon.icon2{
    background-color: #fcefff;
}
.icon.icon3{
    background-color: #ebeaff;
}
.hero .info{
    margin-left: 16px;
}
.hero-summary .label{
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}
.hero-summary .title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.hero .content-block{
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}
.hero .heading{
    color: #171100;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    font-family: var(--font-heading);
    letter-spacing: -1.16px;
}
.hero .desc{
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 22px;
}
.hero .cta-group{
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero .hero-cta{
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}
.hero .watch-video{
    border: none;
    background-color: transparent;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}
.hero .watch-video .icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .watch-video span{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 14px;
}
.hero .desc-recent{
    margin-top: 48px;
}
.hero .stats{
    margin-top: 8px;
}
.stats strong{
    color: #171100;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    font-family: var(--font-heading);
    margin-right: 15px;
}
.stats strong:nth-child(2){
    margin-left: 28px;
}
.popular{
    padding: 65px 0;
    margin-top: 135px;
}
.popular-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-top .desc{
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 16px;
    width: 458px;
}
.popular-top .controls{
    display: flex;
    gap: 18px;
}
.popular-top .control-btn{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
}
.popular-top .control-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.popular .course-list{
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.popular .course-item{
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #e2dfda;
    flex: 1;
}
.popular .course-item:hover{
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.thumb{
    width: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}
.popular .course-item .info{
    padding: 16px 22px 22px;
}
.popular .rating, .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .title a{
    color:#171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.rating .value{
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-left: 6px;
}
.course-item .desc{
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}
.course-item .foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.course-item .price{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.course-item .btn-book{
    border: none;
}
.course-item .btn-book:hover{
    background-color: var(--primary-color);
}
/* Feedback */
.feedback{
    margin-top: 135px;
    background-color: #2e2100;
    padding: 96px 0;
}
.feedback-item{
    display: flex;
    flex-shrink: 0;
    width: 100%;
}
.feedback-item .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-item .member-name{
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}
.feedback-item .desc{
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}
.feedback-item .dots{
    gap: 6px;
    display: flex;
    margin-top: 28px;
}
.feedback-item .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}
.feedback-item .dot.active{
    background-color: var(--primary-color);
    cursor: default;
}
.feedback-item .content{
    width: 66%;
   margin-left: auto;
}
.feedback-item blockquote{
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;

}
.feedback-list{
    display: flex;
    overflow: hidden;
}
.features{
    margin-top: 135px;
    padding: 65px 0;

}
.features .body{
    display: flex;
    justify-content: space-between;
}
.images{
    display: flex;
    gap: 30px;
}
.features .images img{
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}
.features .lower{
    margin-top: 34px;
}
.features .content{
    width: 41%;
    align-self: center;
}
.features .desc{
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
}
.features .cta-btn{
    width: 137px;
    height: 50px;
    background-color: var(--primary-color);
    margin-top: 32px;
}
.features-2nd{
    margin-top: 70px;
}
.features.features-2nd .body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.features-2nd .content{
    width: 49%;
}
.features-2nd .images img{
    width: 470px;
    height: 440px;
}
.blogs{
    margin-top: 135px;
    padding: 96px 0;
    background-color: #fffcf4;
}
.blogs .blog-top{
   text-align: center;
}
.blogs .blog-top .desc{
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
    width: 448px;
    margin: 16px auto 0;
}
.blogs .blog-list{
    gap: 30px;  
    display: flex;
    margin-top: 55px;
    overflow: hidden;
}
.blogs .item{
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background-color: #fff;
    flex-shrink: 0;
}
.blogs .item:hover{
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.item .thumb{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.blogs .item .info{
    padding: 20px 20px 28px;
}
.blogs .item .date{
    position: relative;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
}
.blogs .item .date::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 4px;
}
.blogs .item .date::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background-color: #e2dfda;
    left: 0;
    bottom: 0;
}
.blogs .item .title{
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-top: 12px;
}
.blogs .item .btn{
    margin-top: 12px;
    font-size: 1.4rem;
}
.blogs .item .btn:hover{
    background-color: var(--primary-color);
}
.blogs .dots{
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}
.blogs .dot.active{
    background-color: var(--primary-color);
    cursor: default;
}
.blogs .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
    cursor: pointer;
}
.footer{
    background-color: #2e2100;
    padding: 96px 135px 0;
}
.footer .row{
    display: flex;
    padding-bottom: 36px;
    border-bottom: 1px solid #59554b;
}
.footer .row .column{
    width: 21.6%;
}
.footer .row .column:first-child{
    width: 35%;
}
.footer .desc{
    margin-top: 18px;
    max-width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}
.footer .social{
    display: flex;
    gap: 18px;
    margin-top: 18px;
}
.footer .icon{
    color: #fff;
}
.footer .title{
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border-bottom: 1px solid #59554b;
    padding-bottom: 14px;
    padding-right: 48px;
}
.footer .list{
    margin-top: 28px;
}
.footer .list a{
    display: inline-block;
    margin-bottom: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}
.footer .list a:last-child{
    margin-bottom: 0;
}
.footer .list strong{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}
.footer .copyright{
    color: #807d74;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    padding: 28px 0;
}